.auth-message {
  display: none;
}

body:lang(en) .auth-message[lang="en"] {
  display: block;
}

body:lang(pt) .auth-message[lang="pt"] {
  display: block;
}

body:lang(es) .auth-message[lang="es"] {
  display: block;
}

body:lang(nl) .auth-message[lang="nl"] {
  display: block;
}

body:not(:lang(pt)):not(:lang(es)):not(:lang(nl)) .auth-message[lang="en"] {
  display: block;
}
